@using Datos;
@model List<MessagePadreViewModel>

@{int i = 0;}
@{int a = 0;}
@{int b = 0;}

<br />
<h4 class="form__titulo">Comentarios</h4>
<br />

@if (@Model.Count() > 0)
{
    <div class="panel-group" id="accordion1">
        @foreach (MessagePadreViewModel item in @Model)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion1" href="#collapse_@i" aria-expanded="true" class="trigger collapsed" aria-controls="collapse_@i">
                            @item.UsersName - @item.DateAdd
                        </a>
                        @if (item.ComentarioDenuncio == false)
                        {
                            <i id="messagePadre" data-toggle="modal" data-target=".modalDenuncias" data-id="@item.IdComentario" class="fa fa-exclamation-triangle" aria-hidden="true" style="margin: auto;float: right; cursor: pointer;" title="Denunciar comentario"></i>
                        }
                        else
                        {
                            <a style="float: right;">Usted ya ha denunciado este comentario.</a>
                        }
                    </h4>
                </div>

                <div id="collapse_@i" class="panel-collapse collapse out">
                    <div class="panel-body">
                        <h4 class="panel-title">@item.Message</h4>
                        <br />
                        @if (item.MessagesHijos.Count() > 0)
                        {
                            foreach (MessageHijoViewModel item1 in item.MessagesHijos)
                            {
                                <div class="panel-group" id="accordion_@b">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" style="background-color: lemonChiffon">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion_@b" href="#collapse2_@a">
                                                    @item1.UsersName - @item1.DateAdd
                                                </a>
                                                @if (item1.ComentarioDenuncio == false)
                                                {
                                                    <i id="messageHijo" data-toggle="modal" data-target=".modalDenuncias" data-id="@item1.IdComentario" class="fa fa-exclamation-triangle" aria-hidden="true" style="margin: auto;float: right; cursor: pointer;" title="Denunciar comentario"></i>
                                                }
                                                else
                                                {
                                                    <a style="float: right;">Usted ya ha denunciado este comentario.</a>
                                                }
                                            </h4>
                                        </div>
                                        <div id="collapse2_@a" class="panel-collapse collapse in">
                                            <div class="panel-body">@item1.Message</div>
                                        </div>
                                    </div>
                                </div>
                                                b++;
                                                a++;
                            }
                        }

                        <div class="panel-group" id="accordion_@b">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="background-color: lightBlue">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionComment" href="#collapseComment">
                                            Responder
                                        </a>
                                    </h4>
                                </div>
                                <div id="comment" class="panel-collapse collapse in">
                                    <br />
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <textarea class="form-control" cols="40" id="Message_@item.IdComentario" rows="2" style="max-width: 95%;"></textarea>
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button" href="javascript:void(0);" onclick="messageAdd(@item.IdComentario, Message_@item.IdComentario); return false;">Responder</button>
                                            </span>
                                        </div>
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                        i++;
        }
    </div>
}

<div class="panel-group" id="accordionComment">
    <div class="panel panel-default">
        <div class="panel-heading" style="background-color: lightBlue">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordionComment" href="#collapseComment">
                    Nuevo comentario
                </a>
            </h4>
        </div>

        <div id="comment" class="panel-collapse collapse in">
            <br />
            <div class="col-md-12">
                <div class="input-group">
                    <textarea class="form-control" cols="40" id="MessagePadre" rows="2" style="max-width: 95%;"></textarea>
                    <span class="input-group-btn">
                        <button class="btn btn-default" id="buttonMessagePadre" type="button" href="javascript:void(0);" onclick="messageAdd(0,0); return false;">Comentar</button>
                    </span>
                </div>
                <br />
            </div>
        </div>
    </div>
</div>
