@using Datos;
<script src="~/Scripts/admin.js"></script>
@{
    List<Messages> Model = ViewBag.Messages;
}
@Html.Partial("~/Views/Admin/_MenuGestion.cshtml")
<br />
@using (Html.BeginForm("GestionarComentarios", HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString(), FormMethod.Get))
{
    <div class="form-group">
        <div class="row" style="display: flex;">
            Buscar comentarios:&nbsp; @Html.TextBox("searchStringComentario", ViewBag.CurrentFilter as string, new { @class = "form-control" })
            <input class="btn btn-primary" type="submit" value="Buscar" />
        </div>
    </div>
}
<br />
<table class="table">
    <tr>
        <th>
            Comentario
        </th>
        <th>
            Fecha baja
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateNull)
            </td>
            <td>
                @if (item.IsBlocked == true && !item.DateNull.HasValue)
                {
                    <a onclick="adminUnblockContenido('comentario', @item.IdComentario)" class="btn btn-primary">DESBLOQUEAR</a>
                }
                else if (!item.DateNull.HasValue)
                {
                    <a onclick="adminBlockContenido('comentario', @item.IdComentario)" class="btn btn-warning">BLOQUEAR</a>
                }
                @if (item.DateNull.HasValue)
                {
                    <a onclick="adminActivateContenido('comentario', @item.IdComentario)" class="btn btn-success">ACTIVAR</a>
                }
                else if (!item.DateNull.HasValue)
                {
                    <a onclick="adminDeleteContenido('comentario', @item.IdComentario)" class="btn btn-danger">ELIMINAR</a>
                }
            </td>
        </tr>
    }
</table>
<br />