@using Datos;
@model Experiences

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")


    @using (Html.BeginForm("Create", "Experiences", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <br />
            <h4 class="form__titulo">Experiencias - Nuevo</h4>
            <hr />

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.Label("Título:", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.ExperienceTitle, new { @class = "form-control", style = "max-width: none" })
                    @Html.ValidationMessageFor(model => model.ExperienceTitle, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Descripción:", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.ExperienceDescription, new { @class = "form-control", style = "margin-bottom: 10px; max-width: none", cols = "40", rows = "5" })
                    @Html.ValidationMessageFor(model => model.ExperienceDescription, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Link Youtube:", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.YoutubePath, new { @class = "form-control", style = "max-width: none" })
                    @Html.ValidationMessageFor(model => model.YoutubePath, "", new { @class = "text-danger" })
                    <p>Ej.: https://www.youtube.com/watch?v=<span><strong>fh_3DYbF6ik</strong></span></p>
                </div>
            </div>

            <div class="form-horizontal">
                <br />
                <h4 class="form__titulo">Archivos</h4>
                <hr />
                <div class="form-group">
                    <div class="row">


                        @{

        int cantMax = 3;
        for (int i = 0; i < cantMax; i++)
        {

            <div class="col-md-4">
                <div style="width: 100%;
    height: 295px;
    text-decoration: none;
    color: #000;
    border: 3px dashed #999;
    background: #eee;
    padding: 10px;
    display: table-cell;
    vertical-align: middle;">
                    <input type="file" class="btn btn-default" id="files_@i" name="uploadedFiles[@i]" />
                </div>
            </div>

        }

                        }

                    </div>
                </div>

            </div>

            <div class="form-group">
                <div class="col-md-offset-0 col-md-10">
                    <input type="submit" value="Guardar" class="btn btn-default" />
                    @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
    }
</body>
</html>
