@using Datos;
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Experiences> experiences = ViewBag.Experiences;
}

<br />
<h4 class="form__titulo">Experiencias - @Html.ActionLink("Administrar mis experiencias", "Index", null, new { style = "color: aquamarine;" })</h4>
<hr />
<section class="wrapper">
    <div class="container-big">
        <div class="content">
            <div class="container">
                <div class="row">
                    @foreach (var exp in experiences)
                    {
                        <div class="col-xs-12 col-sm-4">
                            <div class="carbox">
                                <div class="img-carbox">
                                    <img src="@Url.Content(@exp.Files.FirstOrDefault().FilePath)" alt="@exp.Files.FirstOrDefault().FileName" />
                                </div>
                                <div class="carbox-content">
                                    <h4 class="carbox-title">
                                        <a href="@Url.Action("ExperiencesDetails", "Experiences", new { id = exp.ExperienceId })">
                                            @exp.ExperienceTitle
                                        </a>
                                    </h4>
                                    <p class="">
                                        @exp.ExperienceDescription.Substring(0, exp.ExperienceDescription.Length <= 150 ? exp.ExperienceDescription.Length : 150)
                                        @{if (exp.ExperienceDescription.Length > 150)
                                        {@("...")}
                                        }
                                    </p>
                                </div>
                                <div class="carbox-read-more">
                                    @if (User.Identity.Name.Equals(@exp.AspNetUsers.UserName))
                                    {
                                        <a href="@Url.Action("Index", "Manage")" class="btn btn-link btn-block">
                                            @exp.AspNetUsers.UserName
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("Details", "UsersInfo", new { id = exp.UsersId })" class="btn btn-link btn-block">
                                            @exp.AspNetUsers.UserName
                                        </a>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>