@{
    List<Products> products = ViewBag.Productss;

    //List<Experiences> experiences = ViewBag.Experiences;
    //List<VigentesProducts> products = ViewBag.Productss;

    //List<VigentesExperiences> experiences = ViewBag.Experiences;
}

<header class="intro-header" style="background-image: url('Content/Images/portada.jpg'); margin-top:50px;">
    <div class="container" style="width:100%">
        <div class="row">
            <div class="col-lg-10 col-md-2">
                <div class="site-heading">
                    <h1>Rincón Artesanal</h1>
                    <hr class="small">
                    <span class="subheading" style="font-weight: bold; color:#1fa67a">Bienvenidos a nuestra comunidad</span>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 promocionaProductos__header">
                <div class="site-heading promocionaProductos">
                    <hr class="small">
                    <a style="color:white" class=" subheading" href=@Url.Action("Index", "Products" )>Promociona tus productos!</a>
                    <hr class="small">
                    <hr>
                </div>
            </div>
        </div>
    </div>
</header>
<body>
    <div>
        <br />
        <h4 class="form__titulo">Productos - Artículos publicados por usuarios que los exponen para su venta</h4>
        <hr />

        <div class="row">
            @foreach (var prod in products)
            {
                <div class="col-lg-4 col-md-4">
                    <img src="@Url.Content(@prod.Files.FirstOrDefault().FilePath)" alt="@prod.Files.FirstOrDefault().FileName" width="250" height="250">
                    <h3>
                        <a href=@Url.Action("ProductsDetails", "Products", new { id = prod.ProductId })>@prod.ProductTitle</a>
                    </h3>
                    <p>
                        @prod.ProductDescription.Substring(0, prod.ProductDescription.Length <= 150 ? prod.ProductDescription.Length : 150)
                        @{if (prod.ProductDescription.Length > 150)
                        {@("...")}
                        }
                    </p>
                    <a>@prod.AspNetUsers.UserName</a>
                </div>
            }
        </div>
        <div class="form-group">
            <div class="col-md-offset-10 col-md-2">
                <a href=@Url.Action("Home", "Products") class="btn btn-default">Ver mas</a>
            </div>
        </div>
    </div>
    @*<div>
        <br />
        <h4 class="form__titulo">Experiencias - Publicaciones de usuarios donde expresan sus distintas experiencias</h4>
        <hr />

        <div class="row">
            @foreach (var exp in experiences)
            {
                <div class="col-lg-4 col-md-4">
                    <img src="@Url.Content(@exp.Files.FirstOrDefault().FilePath)" alt="@exp.Files.FirstOrDefault().FileName" width="250" height="250">
                    <h3>
                        <a href=@Url.Action("ExperiencesDetails", "Experiences", new { id = exp.ExperienceId })>@exp.ExperienceTitle</a>
                    </h3>
                    <p>
                        @exp.ExperienceDescription.Substring(0, exp.ExperienceDescription.Length <= 150 ? exp.ExperienceDescription.Length : 150)
                        @{if (exp.ExperienceDescription.Length > 150)
                        {@("...")}
                        }
                    </p>

                    <a>@exp.AspNetUsers.UserName</a>
                </div>
            }
        </div>
        <div class="form-group">
            <div class="col-md-offset-10 col-md-2">
                <a href=@Url.Action("Home", "Experiences") class="btn btn-default">Ver mas</a>
            </div>
        </div>
    </div>*@
</body>
