@using Datos
@{
    UsersInfo u = ViewBag.InfoUsuario;

}

<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <div class="profile-userpic">
                    <img src="@Url.Content(@u.FilePath)" class="img-responsive" alt="">
                </div>
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        @u.AspNetUsers.UserName
                    </div>
                    <div class="profile-usertitle-job">
                        <ul style="list-style-type: none; padding-left: 0px;">
                            @foreach (var item in u.AspNetUsers.AspNetRoles)
                            {
                                <li>
                                    @item.Name
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li class="active">
                            <a href="@Url.Action("Details", "UsersInfo", new { id = @u.UsersId })">
                                <i class="glyphicon glyphicon-home"></i>
                                Perfil
                            </a>
                        </li>
                        @if (@u.IsBlocked == false)
                        {
                            <li>
                                <a href="@Url.Action("Denunciar", "UsersInfo", new { id = @u.UsersId })">
                                    <i class="fa fa-exclamation-triangle"></i>
                                    Denunciar
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="profile-content">
                <div class="form-horizontal">
                    @if (@u.IsBlocked == false)
                    {
                        <h4>Perfil</h4>
                    }
                    else
                    {
                        <h4>Perfil - <span style="color:red">Usuario bloqueado</span></h4>
                    }
                    <hr />
                    <div class="row">


                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(model => u.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => u.Nombre, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => u.Apellido, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => u.Apellido, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => u.FechaNacimiento, "Nacio", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => u.FechaNacimiento, "dd/MM/yyyy", new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                </div>
                            </div>

                            @*<div class="form-group">
                                @Html.LabelFor(model => u.Edad, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => u.Edad, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                </div>
                            </div>*@

                            <div class="form-group">
                                @Html.LabelFor(model => u.Sexo, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => u.Sexo, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                </div>
                            </div>

                            @*<div class="form-group">
                                @Html.LabelFor(model => u.DateAdd, htmlAttributes: new { @class = "control-label col-md-2", value = "Fecha creación" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => u.DateAdd, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                </div>
                            </div>*@
                            <div class="form-group">
                                @Html.LabelFor(model => u.Telefono, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => u.Telefono, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(model => u.Pais, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => u.Pais, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => u.Provincia, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => u.Provincia, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => u.Localidad, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => u.Localidad, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => u.Direccion, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => u.Direccion, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                @Html.LabelFor(model => u.Intereses, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => u.Intereses, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", style = "max-width:90%" } })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                @Html.LabelFor(model => u.Rubro, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => u.Rubro, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", style = "max-width:90%" } })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
