@using Datos;
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<ProductsCategories> prodCat = ViewBag.Categorias;
}

<body>
    <div>
        <br />
        <h4 class="form__titulo">Productos - @Html.ActionLink("Administrar mis productos", "Index", null, new { style = "color: aquamarine;" })</h4>
        <hr />
        <div class="categoriasGrid">
            @foreach (var cat in prodCat)
            {
                <a class="categoriasLink" href="@Url.Action("ProductsByCategory", "Products", new { id = cat.ProductCategoryId })">
                    <figure class="categoriasFigure">
                        <img class="categoriasImg" src="@Url.Content(@cat.FilePath)" alt="" style="cursor: pointer;">
                        <figcaption class="categoriasFigCaption">
                            <h3 class="text-center">
                                @cat.ProductCategoryName
                            </h3>
                        </figcaption>
                    </figure>
                </a>
            }
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Volver al Home", "Index", "Home", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
</body>