@using Datos;

@model IEnumerable<Products>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <br />
    <h4 class="form__titulo">Productos</h4>
    <hr />

    <div>
        @Html.ActionLink("Nuevo producto", "Create", null, new { @class = "btn btn-success" })
    </div>
    <hr />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <p><b>Imagen</b></p>
            </div>
            <div class="col-md-3">
                <p><b>Título</b></p>
            </div>
            <div class="col-md-4">
                <p><b>Descripción</b></p>
            </div>
            <div class="col-md-2">
                <p><b>Categoría</b></p>
            </div>
            <div class="col-md-1">
                <p></p>
            </div>
        </div>

        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col-md-2">
                    <img src="@Url.Content(@item.Files.FirstOrDefault(f => f.FileType.Value == Convert.ToInt16(FileTypes.Image)).FilePath)" class="img-thumbnail" />
                </div>
                <div class="col-md-3">
                    @Html.DisplayFor(modelItem => item.ProductTitle)
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(modelItem => item.ProductDescription)
                </div>
                <div class="col-md-2">
                    @Html.DisplayFor(modelItem => item.ProductsCategories.ProductCategoryName)
                </div>
                @if (!item.DateNull.HasValue)
                {
                    <div class="col-md-1">
                        @Html.ActionLink("Editar", "Edit", new { id = item.ProductId }, new { @class = "btn btn-info" })
                        @Html.ActionLink("Detalles", "ProductsDetails", new { id = item.ProductId }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.ProductId }, new { @class = "btn btn-danger" })
                    </div>
                }
                else
                {
                    <div class="col-md-1">
                        @Html.ActionLink("Detalles", "ProductsDetails", new { id = item.ProductId }, new { @class = "btn btn-primary" })
                    </div>
                }
            </div>
        }
    </div>
    <br />
    <div class="form-group">
        <div class="col-md-offset-0 col-md-10">
            @Html.ActionLink("Volver", "Home", "Products", null, new { @class = "btn btn-default" })
        </div>
    </div>
</body>
</html>
