@model RinconArtesano.Models.Products

@{
    ViewBag.Title = "ProductsDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<MessagesPadres> Messages = ViewBag.Messages;
}
<body>
    <div>
        <br />
        <h4 class="form__titulo">Productos</h4>
        <hr />

        @Html.HiddenFor(model => model.ProductId)
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5">
                    <section id="imagenes">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="max-width: 400px; height:300px">
                            <ol class="carousel-indicators">
                                @foreach (var item in Model.Files.Where(f => f.FileType.Value == Convert.ToInt16(FileTypes.Image)).ToList())
                                {

                                    <li data-target="#carousel-example-generic" data-slide-to="@item.FileId" class="active"></li>
                                }
                            </ol>
                            <div class="carousel-inner" role="listbox">
                                @foreach (var item in Model.Files.Where(f => f.FileType.Value == Convert.ToInt16(FileTypes.Image)).ToList())
                                {
                                    <div class="@(item.FileId == Model.Files.Min(f => f.FileId) ? "item active" : "item")">
                                        <img src="@Url.Content(@item.FilePath)" alt="@item.FileName">
                                    </div>
                                }
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Anterior</span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Siguiente</span>
                            </a>
                        </div>
                    </section>
                </div>
                <div class="col-md-7">
                    <section id="contenido">
                        <ul class="list-unstyled">
                            <li>
                                <h4 class="form__titulo">
                                    @Html.DisplayFor(model => model.ProductTitle)
                                    @if (User.IsInRole("Moderador") || User.IsInRole("Administrador"))
                                    {
                                        <span>
                                            @if (Model.IsBlocked == true && !Model.DateNull.HasValue)
                                            {
                                                <a id="manualUnblockBtn" class="btn btn-primary" style="padding: 2px 12px;width: 140px;">DESBLOQUEAR</a>
                                            }
                                            else if (!Model.DateNull.HasValue)
                                            {
                                                <a id="manualBlockBtn" class="btn btn-warning" style="padding: 2px 12px;width: 140px;">BLOQUEAR</a>
                                            }
                                            @if (Model.DateNull.HasValue)
                                            {
                                                <a id="manualActivateBtn" class="btn btn-success" style="padding: 2px 12px;width: 140px;">ACTIVAR</a>
                                            }
                                            else if (!Model.DateNull.HasValue)
                                            {
                                                <a id="manualDeleteBtn" class="btn btn-danger" style="padding: 2px 12px;width: 140px;">ELIMINAR</a>
                                            }
                                        </span>
                                    }
                                </h4>
                                
                            </li>
                            <li style="display: inline-flex;">
                                <div data-toggle="modal" data-target=".modalDenuncias" class="button btn-default" style="display: inline-flex;padding: 10px;">
                                    <i class="fa fa-exclamation-triangle" aria-hidden="true" style="margin: auto;float: left;"></i>
                                    <h4 style="padding-left: 10px;">
                                        Denunciar
                                    </h4>
                                </div>
                            </li>
                            <li>
                                <b>Categoría:</b>
                                <p>
                                    @Html.DisplayFor(model => model.ProductsCategories.ProductCategoryName)
                                </p>
                            </li>
                            <li>
                                <b>Descripción:</b>
                                <p>
                                    @Html.DisplayFor(model => model.ProductDescription)
                                </p>

                            </li>
                        </ul>
                    </section>
                </div>

            </div>

        </div>
    </div>
    @Html.Partial("~/Views/Shared/_DenunciasModal.cshtml")
        <p>
            @Html.ActionLink("Volver", "Home")
        </p>
</body>

@Html.Partial("~/Views/Shared/_Messages.cshtml", Messages)
