@using Datos
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Products> products = ViewBag.Productss;
}

<br />
<h4 class="form__titulo">Productos - @ViewBag.CategoryName</h4>
<hr />
<h1>@ViewBag.NoHayProductos</h1>
<section class="wrapper">
    <div class="container-big">
        <div class="content">
            <div class="container">
                <div class="row">
                    @foreach (var prod in products)
                    {

                        <div class="col-xs-12 col-sm-4">
                            <div class="carbox">
                                <div class="img-carbox">
                                    <img src="@Url.Content(@prod.Files.FirstOrDefault().FilePath)" alt="@prod.Files.FirstOrDefault().FileName" />
                                </div>
                                <div class="carbox-content">
                                    <h4 class="carbox-title">
                                        <a href="@Url.Action("ProductsDetails", "Products", new { id = prod.ProductId })">
                                            @prod.ProductTitle
                                        </a>
                                    </h4>
                                    <p class="">
                                        @prod.ProductDescription.Substring(0, prod.ProductDescription.Length <= 150 ? prod.ProductDescription.Length : 150)
                                        @{if (prod.ProductDescription.Length > 150)
                                        {@("...")}
                                        }
                                    </p>
                                </div>
                                <div class="carbox-read-more">
                                    <a href="@Url.Action("Details", "UsersInfo", new { id = prod.UsersId })" class="btn btn-link btn-block">
                                        @prod.AspNetUsers.UserName
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>